In [1]:
# find odd & even number with the help of lambda function.------->

# Write a Python program to create a function
#  that takes one argument, 
# and that argument will be multiplied with an 
# unknown given number. 
# Go to the editor
# Sample Output:
# Double the number of 15 = 30
# Triple the number of 15 = 45
# Quadruple the number of 15 = 60
# Quintuple the number 15 = 75
# x = [2,3,4,5]

In [2]:
x = 34
def num():
    if x%2==0:
        return True
    else:
        return False
    
num()

True

In [8]:
x  = lambda a:"Even" if a%2==0 else "Odd"
x(31)

'Odd'

In [9]:
a = lambda x:x*15
a(2)

30

In [10]:
a(3)

45

In [11]:
a(4)

60

# Filter

In [29]:
#wap to take the data from the list where age is less than 30.

a = [45,56,12,34,89,90,34,54,88,23]
c = list(filter(lambda a:True if a<30 else False,a))

In [31]:
print(c)

[12, 23]

In [33]:
a = [45,56,12,34,89,90,34,54,88,23]
def fun(a):
    if a<30:
        return True
    else:
        return False
    
list(filter(fun,a))

[12, 23]

# Map Function

In [34]:
c

[12, 23]

In [37]:
z = tuple(map(lambda x:x**2,c))

In [38]:
z

(144, 529)

In [43]:
#wap to find cube of each number present in the lsit.
c = [1,2,3,4,5,6,7,8,9]
print(list(map(lambda a:a**3,c)))

[1, 8, 27, 64, 125, 216, 343, 512, 729]

In [44]:
# Wap to find the highest salary of some individuals
# and also try to get the double of the highest salary .

#wap to where a student have some certain subject also have
# some  decent marks but also failed in 2 subjects. your
# task is to find the number of failing marks and also
# try to to give him some grace marking so that he/she 
# can pass with flying colors.

In [45]:
# Write a Python program to add three number
# given lists using Python map and lambda.

data1= [1,2,3,4,5]
data2= [6,7,8,9,10]
data3= [11,12,13,14,15]

print(list(map(lambda data1,data2,data3:data1+data2+data3,data1,data2,data3)))

[18, 21, 24, 27, 30]

In [46]:
a = [1,2,3,4]
b = [3,4,5,6]
c = a+b
print(c)

[1, 2, 3, 4, 3, 4, 5, 6]

In [47]:
# reduce function
from functools import reduce

In [48]:
a = [1,2,3,4,5,6,7]
print(reduce(lambda x,y:x+y,a))

28