In [7]:
# Constructor-----> 

class student:
    def __init__(self,name,age):
        self.name = name
        self.age = age
        
s = student("ABC",34)
s1 = student("xyz",45)
s2 = student('wer',23)
print(s.name)
s.age

ABC

34

In [2]:
s.age

34

In [5]:
s1.name

'xyz'

In [13]:
class parent:
    def __init__(self,name,age):
        self.name = name
        self.age = age
    
    
    
class child(parent):
    def __init__(self,name,age,salary):
        parent.__init__(self,name,age)
        self.salary= salary
        
        
c = child("JOJO",23,12)

In [14]:
c.salary

12

In [15]:
c.name

'JOJO'

In [16]:
class parent:
    def __init__(self,name,age):
        self.name = name
        self.age = age
    
    
    
class child(parent):
    def __init__(self,name,age,salary):
        super().__init__(name,age)
        self.salary= salary
        
        
c = child("JOJO",23,12)

In [17]:
c.salary

12

In [18]:
c.name

'JOJO'

In [19]:
# gpc to pc
class gpc:
    def __init__(self,name,age):
        self.name = name
        self.age = age
        
    
    
class pc(gpc):
    def __init__(self,name,age,salary):
        super().__init__(name,age)
        self.salary = salary
    

class cc:
    def __init__(self,roll_num):
        self.roll_num = roll_num
        
        
p = pc("A",34,45)

In [20]:
p.name

'A'

In [21]:
p.age

34

In [22]:
p.salary

45

In [23]:
# pc to cc --- do by yourself!!
class gpc:
    def __init__(self,name,age):
        self.name = name
        self.age = age
        
    
    
class pc(gpc):
    def __init__(self,name,age,salary):
        super().__init__(name,age)
        self.salary = salary
    

class cc:
    def __init__(self,roll_num):
        self.roll_num = roll_num
        
        
p = pc("A",34,45)

In [25]:
class gpc:
    def __init__(self,name,age):
        self.name = name
        self.age = age
        
    
    
class pc:
    def __init__(self,name,age,salary):
        super().__init__(name,age)
        self.salary = salary
    

class cc(gpc):
    def __init__(self,name,age,roll_num):
        super().__init__(name,age)
        self.roll_num = roll_num
        
        
c = cc("XYZ",12,22)

In [26]:
c.name

'XYZ'

In [27]:
c.age

12

In [28]:
c.roll_num

22

In [29]:
# gpc to pc to child

class gpc:
    def __init__(self,name,age):
        self.name = name
        self.age = age
        
    
    
class pc(gpc):
    def __init__(self,name,age,salary):
        super().__init__(name,age)
        self.salary = salary
    

class cc(pc):
    def __init__(self,name,age,salary,roll_num):
        super().__init__(name,age,salary)
        self.roll_num = roll_num
        
        
c = cc("Yash",12,34,1)

In [30]:
c.salary

34

In [31]:
c.roll_num

1

In [32]:
c.name

'Yash'

# Encapsulation

In [33]:
# public mode
class me:
    a = 10
    print(a)
me()

10

In [38]:
# private mode
class me:
    __a = 10
    print(a)
me()

NameError: name 'a' is not defined

In [36]:
# protected mode
class me:
    _a = 10
    print(_a)
me()

10